.min-vh-95 {
    min-height: 95vh !important;
}

.min-vh-90 {
    min-height: 90vh !important;
}

.min-vh-85 {
    min-height: 85vh !important;
}

.min-vh-80 {
    min-height: 80vh !important;
}

.min-vh-75 {
    min-height: 75vh !important;
}

.min-vh-70 {
    min-height: 70vh !important;
}

.min-vh-65 {
    min-height: 65vh !important;
}

.min-vh-60 {
    min-height: 60vh !important;
}

.min-vh-55 {
    min-height: 55vh !important;
}

.min-vh-50 {
    min-height: 50vh !important;
}

.min-vh-45 {
    min-height: 45vh !important;
}

.min-vh-40 {
    min-height: 40vh !important;
}

.min-vh-35 {
    min-height: 35vh !important;
}

.min-vh-30 {
    min-height: 30vh !important;
}

.min-vh-25 {
    min-height: 25vh !important;
}

.min-vh-20 {
    min-height: 20vh !important;
}

.min-vh-15 {
    min-height: 15vh !important;
}

.min-vh-10 {
    min-height: 10vh !important;
}

.min-vh-5 {
    min-height: 5vh !important;
}


/*==============================================================================================================================*/  


.max-vh-95 {
    max-height: 95vh !important;
}

.max-vh-90 {
    max-height: 90vh !important;
}

.max-vh-85 {
    max-height: 85vh !important;
}

.max-vh-80 {
    max-height: 80vh !important;
}

.max-vh-75 {
    max-height: 75vh !important;
}

.max-vh-70 {
    max-height: 70vh !important;
}

.max-vh-65 {
    max-height: 65vh !important;
}

.max-vh-60 {
    max-height: 60vh !important;
}

.max-vh-55 {
    max-height: 55vh !important;
}

.max-vh-50 {
    max-height: 50vh !important;
}

.max-vh-45 {
    max-height: 45vh !important;
}

.max-vh-40 {
    max-height: 40vh !important;
}

.max-vh-35 {
    max-height: 35vh !important;
}

.max-vh-30 {
    max-height: 30vh !important;
}

.max-vh-25 {
    max-height: 25vh !important;
}

.max-vh-20 {
    max-height: 20vh !important;
}

.max-vh-15 {
    max-height: 15vh !important;
}

.max-vh-10 {
    max-height: 10vh !important;
}

.max-vh-5 {
    max-height: 5vh !important;
}





/*==============================================================================================================================*/






.min-vw-95 {
    min-height: 95vw !important;
}

.min-vw-90 {
    min-height: 90vw !important;
}

.min-vw-85 {
    min-height: 85vw !important;
}

.min-vw-80 {
    min-height: 80vw !important;
}

.min-vw-75 {
    min-height: 75vw !important;
}

.min-vw-70 {
    min-height: 70vw !important;
}

.min-vw-65 {
    min-height: 65vw !important;
}

.min-vw-60 {
    min-height: 60vw !important;
}

.min-vw-55 {
    min-height: 55vw !important;
}

.min-vw-50 {
    min-height: 50vw !important;
}


/*========================*/ /*========================*/

.group-code {
    background-color: black !important;
    transition: background 1s; /* For modern browsers */
    -webkit-transition: background 1s;
}

.group-code:hover{
    background-color: white !important;
}

.text-black {
    color: black;
}